<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCKno50k1IWeH1owysoqZrBAquneHWlJQs</string>
	<key>GCM_SENDER_ID</key>
	<string>755923432824</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Tsaydil.CountdownApp</string>
	<key>PROJECT_ID</key>
	<string>tsacountdownapp</string>
	<key>STORAGE_BUCKET</key>
	<string>tsacountdownapp.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:755923432824:ios:3961f620b364065bee448d</string>
</dict>
</plist>